# Byte-compiled / cached files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.env/
.venv/
env/
venv/

# Distribution / packaging
build/
dist/
*.egg-info/
pip-wheel-metadata/

# Logs
*.log
*.out

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Poetry specific
poetry.lock
